*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    flex-wrap: wrap;
}

/*** nav bar ***/
.nav{
    position: absolute;
    top: 3%;
    left: 0;
    text-align: center;
}
.nav li{
    list-style: none;
    display: inline-block;
    margin: 15px;
}
.nav li a {
    margin-top: 10px;
    color: rgb(112, 136, 143);
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
}
.nav li a:hover{
   text-decoration: underline;
}

/*** menu items ***/
.items{
    text-align: center;
    position: absolute;
    top: 3%;
    right: 0;
}
.items li{
    list-style: none;
    display: inline-block;
    margin: 25px;
    font-size: 20px;
}
.items li a{
    text-decoration: none;
    color: rgb(112, 136, 143);
}
.items li a:hover{
    text-decoration: underline;
}

/*** menu photo ***/
.menu-pho{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#cheese{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#donut{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#macaroon{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#cop-cake{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#cheese img{
    margin-top: 8%;
    width: 20%;
    height: 355px;
}
#donut img{
    margin-top: 8%;
    width: 20%;
    height: 355px;
}
#macaroon img{
    margin-top: 8%;
    width: 20%;
    height: 355px;
}
#cop-cakes img{
    margin-top: 8%;
    width: 20%;
    height: 355px;
}