*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    flex-wrap: wrap;
}
.nav-items h1{
    color: rgb(112, 136, 143);
    text-align: center;
    margin: 20px;
    font-size: 55px;
}
.items{
    text-align: center;
    background: rgb(112, 136, 143);
}
.items li{
    list-style: none;
    display: inline-block;
    margin: 25px;
    font-size: 25px;
}
.items li a{
    text-decoration: none;
    color: #fff;
}
.items li a:hover{
    text-decoration: underline;
}

.menu-pho{
    flex-wrap: wrap;
    justify-content: space-around;
}
.cheese img{
    width: 240px;
    height: 300px;
    padding: 20px 20px 90px 20px;
    border: 2px solid rgb(112, 136, 143);
    border-radius: 10px;
}
.birth img{
    width: 240px;
    height: 300px;
    padding: 20px 20px 90px 20px;
    border: 2px solid rgb(112, 136, 143);
    border-radius: 10px;
}
.donut img{
    width: 240px;
    height: 300px;
    padding: 20px 20px 90px 20px;
    border: 2px solid rgb(112, 136, 143);
    border-radius: 10px;
}
.macaroon img{
    width: 240px;
    height: 300px;
    padding: 20px 20px 90px 20px;
    border: 2px solid rgb(112, 136, 143);
    border-radius: 10px;
}
.cap-cake img{
    width: 240px;
    height: 300px;
    padding: 20px 20px 90px 20px;
    border: 2px solid rgb(112, 136, 143);
    border-radius: 10px;
}
.cookies img{
    width: 240px;
    height: 300px;
    padding: 20px 20px 90px 20px;
    border: 2px solid rgb(112, 136, 143);
    border-radius: 10px;
}