*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    flex-wrap: wrap;
}
/*** nav bar ***/
nav{
    position: fixed;
    display: flex;
    width: 90%;
    box-sizing: border-box;
    border: none;
    background: #fff;
    z-index: 9999999;
    border-radius: 30px;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 10%;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
nav li{
    list-style: none;
    display: flex;
    margin: 15px;
}
nav li a {
    margin-top: 10px;
    color: rgb(112, 136, 143);
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
}
nav li a:hover{
    text-decoration: underline;
}
ul{
    display: flex;
}
.nav-right{
    margin-left: auto;
    margin-right: 5%;
}
.nav-left{
    margin-left: 5%;
}
a > i #cart{
    font-size: 20px;
    color: rgb(112, 136, 143) ;
    position: absolute;
    top: 3%;
    left: 3%;
    z-index: 99999999;
}
hr{
    margin-top: 5%;
    margin-bottom: 10px;
}
/*** menu photo ***/
#cheese{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#donut{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#macaroon{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#cop-cakes{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#cookies{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 10%;
}
.che{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 400px;
    justify-content: center;
    align-items: center;
}

img{
    width: 65%;
    height: 65%;
    border-radius: 10%;
    margin-top: 35%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}
img:hover{
    width: 68%;
    height: 68%;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
}

/*** items details ***/
.details{
    font-size: 18px;
    align-items: left;
    color: rgb(112, 136, 143);
    margin-top: 15px;
}
.menu-photo .i{
    color: #fff;
    z-index: 999;
    font-size: 16px;
    margin: 8px;
    margin-right: 1%;
}
.menu-photo .i:hover{
    color: rgb(212, 40, 40);
    transition: all 0.5s;
}
/*** cart shopping ***/
.card-button{
    position: relative;
    padding: 10px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background: rgb(112, 136, 143);
    outline: none;
    cursor: pointer;
    margin: 5%;
    color: #fff;
    transition: 0.3s ease-in-out;
    overflow: none;
    user-select: none;
    border: none;
}
