{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="{% static 'users/styles/signup.css' %}">
    <title>signup</title>
</head>
<body>
    <div class="contaier">
        <form method="post">
            {% csrf_token %}
            <h1> Bistory </h1>
            <input type="text" placeholder="Name" name="name"> <br>
            <input type="email" placeholder="Email" name="email"> <br>
            <input type="password" placeholder="Password" name="password">
            <input type="submit" value="Sign up"> <br><br>
            <a href="/users/login" > Login </a> <br><br><br>
        </form>
    </div>
</body>
</html>