{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'home/styles/main.css' %}">
        <script src="https://kit.fontawesome.com/2a87e804a7.js" crossorigin="anonymous"></script>
        <title> Bistory </title>
</head>
<body>
        <nav class="main-contaner">
            <div class="pin"> 
                <img src="{% static 'home/img/IMG_20230401_125131_837.jpg' %}">
                <div class="firstPHO">
                    <img src="{% static 'home/img/download.jfif' %}">
                </div>
            <div id="cardwarp">
                <div class="card"></div>
                <div class="card-cont">
                    BISTORY
                    <br><br><br> Fresh cake & cookies 
                    <br><br><br> We created delicious memories 
                    <br><br><br> We made them fresh everyday
                </div>
            </div>
        </nav>
        <ul class="nav">
            {% if user.is_authenticated %}
                <li> <a href="/"> Home</a> </li>
                <li> <a href="#about"> About </a> </li>
                <li> <a href="{% url 'logout' %}"> Logout  </a> </li>
                <li> <a href="/menu"> Menu </a> </li>
                <li> <a href="{% url 'account' %}"> Profile </a> </li>
            {% else %}   
                <li> <a href="/"> Home</a> </li>
                <li> <a href="#about"> About </a> </li>
                <li> <a href="/users/login"> Login </a> </li>
                <li> <a href="/menu"> Menu </a> </li>
            {% endif %}
        </ul>
        <div class class="left-menu">
            <ul class="nav-left">
                <li> <i class="fa-solid fa-user"></i> </li>
            </ul>
            <ul class="cart-shop">
                <li> <i class="fa-solid fa-cart-shopping"></i> </li>
            </ul>
            <div id="search-box">
                <i class="fa-solid fa-search"></i>
                <input type="text" id="input" value="search">
            </div>
        </div>
        <div class="pop">
            <img src="{% static 'home/img/cro.jfif' %}">
            <img src="{% static 'home/img/Buckwheat Chocolate Hazelnut Bliss Balls _ Rainbow in My Kitchen.jfif' %}">
            <img src="{% static 'home/img/Chocolate Crinkle Cookie Recipe.jfif' %}">
            <img src="{% static 'home/img/Croffle.jfif' %}">
            <img src="{% static 'home/img/Estetica sweet _ РЕЦЕПТЫ _ здесь вкусно.jfif' %}">
            <img src="{% static 'home/img/𝘚𝘢𝘷𝘦 = 𝘍𝘰𝘭𝘭𝘰𝘸 _𝘯𝘰 𝘳𝘦𝘱𝘦𝘢𝘵_ _3.jfif' %}">
            <img src="{% static 'home/img/r i s.jfif' %}">
            <img src="{% static 'home/img/papa.jfif' %}">
            <img src="{% static 'home/img/Authentic Italian Tiramisu Recipe, Foodie, Italian Dessert Recipes, Tiramisu Recipes, Yummy Desserts.jfif' %}">
            <img src="{% static 'home/img/foooodddiiiieeeee.jfif' %}">
            <img src="{% static 'home/img/h o l l a.jfif' %}">
            <img src="{% static 'home/img/𝑚𝑤𝑎𝑦𝑜𝑜𝑛𝑜𝑒.jfif' %}">
        </div>
        <footer>
            <div id="about">
                <div class="title">
                    <span> About us</span>
                </div>
                <div class="info">
                    <p>
                        bistory chain stores ia a member of <br> bistory business group,<br> which started its activity since 1997<br>
                        with the approach of producing <br> quality food industries based on <br> cakes, sweets and desserts.
                    </p>
                </div>
            </div>
            <div class="contact-us">
                <div class="contact">
                    <span> contact us</span>
                </div>
                <div class="name">
                    <div class="add">Adress: old kent rodo, massinger st </div>
                    <div class="num"> <br>number: +44-844...</div>
                    <div class="emi"> <br>email: bistorypastry@email.com</div>
                </div>
            </div>
            <div class="sugg">
                <div class="sugg-tit">
                    <span> suggestion </span>
                </div>
                <form>
                    <input type="text" placeholder="What's your suggestion...">
                    <input type="submit" value="send">
                </form>
            </div>
        </footer>
</body>
</html>