{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'home/styles/main.css' %}">
        <script src="https://kit.fontawesome.com/2a87e804a7.js" crossorigin="anonymous"></script>
        <title>Bistory</title>
    </head>
    <body>
        <div class="main-contaner">
            <div class="main">
                <div class="pin"> 
                    <div class="fi">100% natural </div>
                    <div class="two">homemade fresh cake</div>
                    <div class="the">and deserts</div>
                    <i class="far "></i>
                </div>
                <div class="blu"></div>
            </div>
            <div class="pho">
                <img src="{% static 'home/img/IMG_20230324_212136_723.jpg' %}">
            </div>
    
            <div class="wrapper">
                <div class="card">
                    <h1> <span class="enclosed">bistory</span>pastry</h1>
                </div>
            </div>
        </div>
        <footer>
            <span> About </span>
            <p>
               bistory chain stores ia a member of <br> bistory business group,<br> which started its activity since 1997<br>
               with the approach of producing <br> quality food industries based on <br> cakes, sweets and desserts.
            </p>
            <div class="sugg">
                <form action="#" method="#">
                    <span> suggestion </span>
                    <input type="text" placeholder="suggestion">
                </form>
            </div>
        </footer>
    </body>
</html>