{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'home/styles/main.css' %}">
        <script src="https://kit.fontawesome.com/2a87e804a7.js" crossorigin="anonymous"></script>
        <title>Bistory</title>
    </head>
    <body>
        <div class="main-contaner">
            <div class="main">
                <div class="pin"> 
                    <div class="fi">100% natural </div>
                    <div class="two">homemade fresh cake</div>
                    <div class="the">and deserts</div>
                    <i class="far "></i>
                </div>
                <div class="blu"></div>
            </div>
            <div class="pho">
                <img src="{% static 'home/img/IMG_20230324_212136_723.jpg' %}">
            </div>
            <div class="wrapper">
                <div class="card">
                    <h1> <span class="enclosed">bistory</span>pastry</h1>
                </div>
            </div>
        </div>
        <footer>
            <div class="about">
                <div class="title">
                    <span> About us</span>
                    <hr>
                </div>
                <div class="info">
                    <p>
                        bistory chain stores ia a member of <br> bistory business group,<br> which started its activity since 1997<br>
                        with the approach of producing <br> quality food industries based on <br> cakes, sweets and desserts.
                    </p>
                </div>
                <div class="icon">
                    <i class="fa-solid fa-user"></i>
                    <i class="fa-solid fa-twitter"></i>
                    <i class="fa-solid fa-facebook"></i>
                </div>
            </div>
            <div class="contact-us">
                <div class="contact">
                    <span> contact us</span>
                    <hr>
                </div>
                <div class="conn">
                    <div class="icontwo">
                        <i class="fa-solid fa-loaction"></i>
                        <i class="fa-solid fa-phone"></i>
                        <i class="fa-solid fa-email"></i>
                    </div>
                    <div class="name">
                        <div class="add"> old kent rodo, massinger st </div>
                        <div class="num"> +44-844...</div>
                        <div class="emi"> bistorypastry@email.com</div>
                    </div>
                </div>
            </div>
            <div class="sugg">
                <div class="sugg-tit">
                    <span> suggestion </span>
                </div>
                <form>
                    <input type="text" placeholder="suggestion">
                    <input type="submit" placeholder="send">
                </form>
            </div>
        </footer>
    </body>
</html>