*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background: rgb(112, 136, 143); 
}

form{
    position: absolute;
    top: 10%;
    left: 28%;
    padding: 3em;
    height: 600px;
    width: 650px;
    text-align: center;
    background: linear-gradient(145deg, rgb(255, 255, 255) 0rgba(180, 189, 196, 0.1).1) 100% ) ;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 100%;
}
h1{
    color: rgb(112, 136, 143);
    font-size: 50px;
    margin-bottom: 20px;
}
form input {
    width: 300px;
    margin: 30px;
    padding: 5px;
    font-size: 25px;
    border-radius: 10px;
    border: none;
}
form input[type=submit]{
    background: rgb(112, 136, 143);
    border-radius: 10px;
    font-size: 20px;
    color: #fff;
}
form input[type=submit]:hover{
    cursor: pointer;
    background: #fff;
    color: rgb(112, 136, 143);
    transition:  all 0.8;
}
form a{
    background: #fff;
    color: rgb(112, 136, 143);
    width: 100px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    text-decoration: none;
    padding: 10px;
    margin: 25px;
}
form a:hover{
    background: rgb(112, 136, 143);
    color: #fff;
}
.phoo img{
    width: 100%;
    height: 750px;
}