{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/styles/menu/menu.css' %}">
    <script src="https://kit.fontawesome.com/2a87e804a7.js" crossorigin="anonymous"></script>
    <title>Menu</title>
</head>
    <body>
        <div class="nav">
            <ul>
                <li> <a href="/"> Home</a> </li>
                <li> <a href="#about"> About </a> </li>
                <li> <a href="/users/login"> Login </a> </li>
                <li> <a href="/menu"> Menu </a> </li>
            </ul>
        </div>
        <nav class="nav-items">
            <div class="items">
                <ul>
                    <li> <a href="/"> cheese cake </a></li>
                    <li> <a href="#donut"> Donut </a></li>
                    <li> <a href="#macaroon"> Macaroon</a></li>
                    <li> <a href="#cop-cakes"> Cop cake </a></li>
                    <li> <a href=""> Cookies </a></li>
                </ul>
            </div>
        </nav>
        <section class="menu-photo">
            <div id="cheese">
                <img src="{% static 'home/img/IMG_20230324_212222_930.jpg' %}">
                <span class="t1"> Peanut cheese cake ... 18$ </span>
                <i class="fa-solid fa-heart"></i>
                <img src="{% static 'home/img/IMG_20230324_212230_291.jpg' %}">
                <span class="t2"> Coffee cheese cake ... 22$ </span>
                <img src="{% static 'home/img/IMG_20230324_212944_267.jpg' %}"> <br>
                <span class="t3"> Chocolate cheese cake ... 20$ </span>
                <img src="{% static 'home/img/IMG_20230329_155215_746.jpg' %}">
                <span class="t4"> Jelly cheese cake ... 22$ </span>
                <img src="{% static 'home/img/IMG_20230329_155225_307.jpg' %}">
                <span class="t5"> NewYork cheese cake ... 25$ </span>
                <img src="{% static 'home/img/IMG_20230329_155236_278.jpg' %}">
                <span class="t6"> Classy cheese cake ...20$ </span>
            </div>
            <div id="donut">
                <img src="{% static 'home/img/IMG_20230324_212250_084.jpg' %}">
                <span class="d1"> Donut pack ... 30$ </span>
                <i class="fa-solid fa-heart"></i>
                <img src="{% static 'home/img/IMG_20230329_165101_957.jpg' %}">
                <span class="d2"> Creamy donut ... 40$ </span>
                <img src="{% static 'home/img/IMG_20230329_165106_324.jpg' %}"> <br>
                <span class="d3"> BirthDay donut ... 18$ </span>
            </div>
            <div id="macaroon">
                <img src="{% static 'home/img/IMG_20230324_212128_166.jpg' %}">
                <span class="e1"> Green macaroon ... 15$ </span>
                <i class="fa-solid fa-heart"></i>
                <img src="{% static 'home/img/IMG_20230329_165116_351.jpg' %}">
                <span class="e2"> Blue pack macaroon ... 20$ </span>
                <img src="{% static 'home/img/IMG_20230329_165118_750.jpg' %}"> <br>
                <span class="e3"> macaroon pack ... 25$ </span>
            </div>
            <div id="cop-cakes">
                <img src="{% static 'home/img/IMG_20230324_212122_155.jpg' %}">
                <span class="e1"> Green macaroon ... 15$ </span>
                <i class="fa-solid fa-heart"></i>
                <img src="{% static 'home/img/IMG_20230329_155309_939.jpg' %}">
                <span class="e2"> Blue pack macaroon ... 20$ </span>
                <img src="{% static 'home/img/IMG_20230329_165048_936.jpg' %}"> <br>
                <span class="e3"> macaroon pack ... 25$ </span>
            </div>
        </section>
    </body>
</html>