{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/styles/menu/menu.css' %}">
    <script src="https://kit.fontawesome.com/2a87e804a7.js" crossorigin="anonymous"></script>
    <title>Menu</title>
</head>
    <body>
        <nav>
            <div class="nav-left">
                <ul>
                    <li> <a href="/cart"> <i id="cart" class="fa-solid fa-cart-plus"></i></a> </li>
                    <li> <a href="/"> Home</a> </li>
                    <li> <a href="#about"> About </a> </li>
                    <li> <a href="/users/login"> Login </a> </li>
                    <li> <a href="/menu"> Menu </a> </li>
                </ul>
            </div>
            <div class="nav-right">
                <ul>
                    <li> <a href=""> cheese cake </a></li>
                    <li> <a href="#donut"> Donut </a></li>
                    <li> <a href="#macaroon"> Macaroon</a></li>
                    <li> <a href="#cop-cakes"> Cop cake </a></li>
                    <li> <a href="#cookies"> Cookies </a></li>
                </ul>
            </div>
        </nav>
        <section class="menu-photo">
            <div id="cheesecake">
                <div class="che">
                    <img src="{% static 'home/img/IMG_20230324_212222_930.jpg' %}">
                    <div class="details">
                        <span>Cashew cheese cake</span>
                    </div>
                    <span class="pqt-minus"></span>
                    <button class="card-button">
                        <i class="fa-solid fa-cart-plus"></i>
                        <span class="add-to-cart">7$</span>
                        <span class="added"></span>
                        <i class="fa-solid fa-heart"></i>
                    </button>
                </div>
                <div class="che">
                    <img src="{% static 'home/img/IMG_20230324_212230_291.jpg' %}">
                    <div class="details">
                        <span>coffee cheese cake</span>
                    </div>
                    <span class="pqt-minus"></span>
                    <button class="card-button">
                        <i class="fa-solid fa-cart-plus"></i>
                        <span class="add-to-cart">10$</span>
                        <span class="added"></span>
                        <i class="fa-solid fa-heart"></i>
                    </button>
                </div>
                <div class="che">
                    <img src="{% static 'home/img/IMG_20230324_212944_267.jpg' %}">
                    <div class="details">
                        <span>Chokolate cheese cake</span>
                    </div>
                    <span class="pqt-minus"></span>
                    <button class="card-button">
                        <i class="fa-solid fa-cart-plus"></i>
                        <span class="add-to-cart">8$</span>
                        <span class="added"></span>
                        <i class="fa-solid fa-heart"></i>
                    </button>
                </div>
                <div class="che">
                    <img src="{% static 'home/img/IMG_20230329_155215_746.jpg' %}">
                    <div class="details">
                        <span>pistachio cheese cake</span>
                    </div>
                    <span class="pqt-minus"></span>
                    <button class="card-button">
                        <i class="fa-solid fa-cart-plus"></i>
                        <span class="add-to-cart">5$</span>
                        <span class="added"></span>
                        <i class="fa-solid fa-heart"></i>
                    </button>
                </div>
                <div class="che">
                    <img src="{% static 'home/img/IMG_20230329_155236_278.jpg' %}">
                    <div class="details">
                        <span>Classy cheese cake</span>
                    </div>
                    <span class="pqt-minus"></span>
                    <button class="card-button">
                        <i class="fa-solid fa-cart-plus"></i>
                        <span class="add-to-cart">3$</span>
                        <span class="added"></span>
                        <i class="fa-solid fa-heart"></i>
                    </button>
                </div>
            </div>
            <hr>
            <div id="donut">
                <div class="che">
                    <img src="{% static 'home/img/IMG_20230324_212250_084.jpg' %}">
                    <div class="details">
                        <span>Caramel donut</span>
                    </div>
                    <span class="pqt-minus"></span>
                    <button class="card-button">
                        <i class="fa-solid fa-cart-plus"></i>
                        <span class="add-to-cart">10$</span>
                        <span class="added"></span>
                        <i class="fa-solid fa-heart"></i>
                    </button>
                </div>
                <div class="che">
                    <img src="{% static 'home/img/IMG_20230329_165101_957.jpg' %}">
                    <div class="details">
                        <span>4th donut pack </span>
                    </div>
                    <span class="pqt-minus"></span>
                    <button class="card-button">
                        <i class="fa-solid fa-cart-plus"></i>
                        <span class="add-to-cart">18$</span>
                        <span class="added"></span>
                        <i class="fa-solid fa-heart"></i>
                    </button>
                </div>
                <div class="che">
                    <img src="{% static 'home/img/IMG_20230329_165106_324.jpg' %}">
                    <div class="details">
                        <span>sunflower donut</span>
                    </div>
                    <span class="pqt-minus"></span>
                    <button class="card-button">
                        <i class="fa-solid fa-cart-plus"></i>
                        <span class="add-to-cart">15$</span>
                        <span class="added"></span>
                        <i class="fa-solid fa-heart"></i>
                    </button>
                </div>
            </div>
            <hr>
            <div id="macaroon">
                <div class="che">
                    <img src="{% static 'home/img/IMG_20230324_212128_166.jpg' %}">
                    <div class="details">
                        <span>Green macaroon</span>
                    </div>
                    <span class="pqt-minus"></span>
                    <button class="card-button">
                        <i class="fa-solid fa-cart-plus"></i>
                        <span class="add-to-cart">10$</span>
                        <span class="added"></span>
                        <i class="fa-solid fa-heart"></i>
                    </button>
                </div>
                <div class="che">
                    <img src="{% static 'home/img/IMG_20230329_165116_351.jpg' %}">
                    <div class="details">
                        <span>Blue pack macaroon</span>
                    </div>
                    <span class="pqt-minus"></span>
                    <button class="card-button">
                        <i class="fa-solid fa-cart-plus"></i>
                        <span class="add-to-cart">17$</span>
                        <span class="added"></span>
                        <i class="fa-solid fa-heart"></i>
                    </button>
                </div>
                <div class="che">
                    <img src="{% static 'home/img/IMG_20230329_165118_750.jpg' %}">
                    <div class="details">
                        <span>6th pack macaeoon</span>
                    </div>
                    <span class="pqt-minus"></span>
                    <button class="card-button">
                        <i class="fa-solid fa-cart-plus"></i>
                        <span class="add-to-cart">20$</span>
                        <span class="added"></span>
                        <i class="fa-solid fa-heart"></i>
                    </button>
                </div>
            </div>
            <hr>
            <div id="cop-cakes">
                <div class="che">
                    <img src="{% static 'home/img/IMG_20230324_212122_155.jpg' %}">
                    <div class="details">
                        <span>Kiwi cop cake</span>
                    </div>
                    <span class="pqt-minus"></span>
                    <button class="card-button">
                        <i class="fa-solid fa-cart-plus"></i>
                        <span class="add-to-cart">11$</span>
                        <span class="added"></span>
                        <i class="fa-solid fa-heart"></i>
                    </button>
                </div>
                <div class="che">
                    <img src="{% static 'home/img/IMG_20230329_155309_939.jpg' %}">
                    <div class="details">
                        <span>cop cake pack</span>
                    </div>
                    <span class="pqt-minus"></span>
                    <button class="card-button">
                        <i class="fa-solid fa-cart-plus"></i>
                        <span class="add-to-cart">19$</span>
                        <span class="added"></span>
                        <i class="fa-solid fa-heart"></i>
                    </button>
                </div>
                <div class="che">
                    <img src="{% static 'home/img/IMG_20230329_165048_936.jpg' %}">
                    <div class="details">
                        <span>BlueBerry cop cake</span>
                    </div>
                    <span class="pqt-minus"></span>
                    <button class="card-button">
                        <i class="fa-solid fa-cart-plus"></i>
                        <span class="add-to-cart">18$</span>
                        <span class="added"></span>
                        <i class="fa-solid fa-heart"></i>
                    </button>
                </div>
            </div>
            <hr>
            <div id="cookies">
                <div class="che">
                    <img src="{% static 'home/img/IMG_20230324_212243_934.jpg' %}">
                    <div class="details">
                        <span> Chokolate cookies</span>
                    </div>
                    <span class="pqt-minus"></span>
                    <button class="card-button">
                        <i class="fa-solid fa-cart-plus"></i>
                        <span class="add-to-cart">15$</span>
                        <span class="added"></span>
                        <i class="fa-solid fa-heart"></i>
                    </button>
                </div>
                <div class="che">
                    <img src="{% static 'home/img/IMG_20230329_155252_314.jpg' %}">
                    <div class="details">
                        <span>Smile cookies</span>
                    </div>
                    <span class="pqt-minus"></span>
                    <button class="card-button">
                        <i class="fa-solid fa-cart-plus"></i>
                        <span class="add-to-cart">5$</span>
                        <span class="added"></span>
                        <i class="fa-solid fa-heart"></i>
                    </button>
                </div>
                <div class="che">
                    <img src="{% static 'home/img/IMG_20230329_155303_620.jpg' %}">
                    <div class="details">
                        <span>Pistachio cookies</span>
                    </div>
                    <span class="pqt-minus"></span>
                    <button class="card-button">
                        <i class="fa-solid fa-cart-plus"></i>
                        <span class="add-to-cart">10$</span>
                        <span class="added"></span>
                        <i class="fa-solid fa-heart"></i>
                    </button>
                </div>
            </div>
        </section>
    </body>
</html>