{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'users/styles/account.css' %}">
    <title>account</title>

</head>
    <body>
    <div id="cardWrap">
            <div class="card"></div>
            <div class="cardContent">
                <h1> particel </h1>
            </div>
    </div>
    <div class="ball ball1"></div>
    <div class="ball ball2"></div>
    <div class="ball ball3"></div>
    </body>
</html>