*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}

/***home design***/
.pin {
    background: rgb(68, 91, 59);
    padding: 250px;
    width: 60%;
    flex-wrap: wrap;
}

.pho img{
    width: 460px;
    height: 520px;
    position: absolute;
    top: 115px;
    left: 680px;
    margin-left: 30px;
    flex-wrap: wrap;
}

.fi{
    font-size: 70px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    flex-wrap: wrap;
    text-align: center;
    color: #fff;
    
}

.two{
    font-size: 50px;
    font-family: merlin;
    flex-wrap: wrap;
    text-align: center;
    color: #fff;
}

.the{
    font-size: 70px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    flex-wrap: wrap;
    text-align: center;
    color: #fff;
}

.pop img{
    height: 350px;
    width: 330px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px ;
}

/***footer***/
footer{
    background: rgb(68, 91, 59);
    display: flex;
}
.about{
    flex-wrap: wrap;
    margin: 70px;
}
.title {
    font-size: 25px;
    border-bottom: 1px solid black;
}
.info{
    flex-wrap: wrap;
    font-size: 20px;
}
.contact-us{
    flex-wrap: wrap;
    margin: 70px;
}
.contact{
    font-size: 25px;
    border-bottom: 1px solid black;
}
.name{
    font-size: 20px;
}
.sugg{
    flex-wrap: wrap;
    margin: 70px;
}
.sugg-tit{
    font-size: 25px;
    align-items: flex-end;
    border-bottom: 1px solid black;
}
.sugg input[type=text]{
    color: black;
    width: 400px;
    height: 100px;
    font-size: 20px;
    padding: 10px;
    margin: 15px 0 15px 0;
    border-radius: 10px;
}
.sugg input[type=submit]{
    width: 60px;
    font-size: 15px;
    padding: 5px;
    margin: 15px 50px 5px 0;
    border-radius: 10px;
    display: block;
}
.sugg input[type=submit]:hover{
    cursor: pointer;
    color: rgb(68, 91, 59);
    transition: all 0.5s;
}

